@charset "UTF-8";

*{
	padding:0px;
	margin:0px
}

header{
	background: #eee;
}

footer{
	background-color: #ddd;
	clear: both;
}

main{
	width:1200px;
	margin:auto
}

#content-left{
	background-color: #aaa;
	width: 900px;
	float:left;
}
#content-right{
	background-color: #999;
	width: 290px;
	float:right;
}


/*******  页头   *******/
header>div{
	background-color: #000;
	color:#fff;
}
header>div>div{
	width:1200px;
	margin:auto
}
header>div>div>*{
	vertical-align: middle;
}
header span{
	height:50px;
	line-height: 50px;
	padding:0px 20px;
	display: inline-block;
}
header span:hover{
	background:#999 
}
header>img{
	display: block;
}
.right{
	float: right;
}
header input{
	width:200px;
	background: #000;
	color: #fff;
	border-width:0px 0px 2px;
	padding:15px 0px 10px;
	background: url(imgs/icon/search.png) no-repeat right center 
}

